body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/img/pexels-jakub-novacek-924824.jpg) no-repeat center top;
    background-size:cover;
    font-family: sans-serif;
  }
    .container {
      width: 50svh;
      margin: 0 auto;
      background-color: rgba(228, 25, 25, 0.2);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px rgb(255, 255, 255);
      border-radius: 1svh;
      border: transparent;
      background: transparent;
      font-family: "Mitr", sans-serif;
      text-align: center;
      margin-top: 10%;
      padding-top: 2%;
      padding-bottom: 5%;
      color: white;
    }

    .content label{
      margin-right:35%;
      color: white;
    }

    h1 {
      text-align: center;
      color: white;
    }

    .form-group {
      margin: 1% 2% 0% 20%;
      padding: 1% 200% 1% 1%;
    }

    input[type="text"] {
      border: 1px transparent;
      background: transparent;
      border-radius: 10px;
      padding: 0.10svw 6svw 0.10svw 1svw;
    }

    input[type="password"] {
      border: 1px transparent;
      background: transparent;
      border-radius: 10px;
      padding: 0.10svw 6svw 0.10svw 1svw;
    }

    button[type="submit"] {
      margin: 0 auto;
      border-collapse: collapse;
      border: transparent;
      border-radius: 15px;
      font-family: "Mitr", sans-serif;
      color: white;
      margin-top: 2%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      background: transparent;
      transition: 0.5s;
    }

    button[type="submit"]:hover {
      color: rgb(255, 255, 255);
      background-color: #411edb;
    }

    .returnlogin {
      width: 300svh;
      margin: 0 auto;
      border-collapse: collapse;
      border: transparent;
      border-radius: 15px;
      font-family: "Mitr", sans-serif;
      color: white;
      margin-top: 5%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 2%;
      background: transparent;
      transition: 0.5s;
    }

    .form-control {
      font-family: "Mitr", sans-serif;
      color: rgba(255, 255, 255, 0.555);
  
    }

    .returnlogin:hover {
      background-color: #411edb;
      color: white;
    }