body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/fondo\ 2.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    }
    .content{
        width: 45svh;
        margin: 0 auto;
        background-color: rgba(228, 25, 25, 0.2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgb(255, 255, 255);
        border-radius: 1svh;
        border: transparent;
        background: transparent;
        font-family: "Mitr", sans-serif;
        text-align: center;
        margin-top: 10%;
        padding-top: 2%;
        padding-bottom: 5%;
        color: white;
    }
    .content label{
        margin-right:35%;
        color: white;
    }

    input[type="text"] {
        font-family: "Mitr", sans-serif;
        background: transparent;
        border-radius: 2svh;
        margin: 1% auto;
        padding: 1% 20% 1% 5%;
        color: white;
    }

    input[type="password"] {
        font-family: "Mitr", sans-serif;
        border: 0,1svh solid rgb(101, 6, 190);
        background: transparent;
        border-radius: 2svh;
        margin: 1% auto;
        padding: 1% 20% 1% 5%;
        color: white;
    }

    input[type="submit"] {
        border-collapse: collapse;
        border: rgb(224, 16, 16);
        border-radius: 15px;
        font-family: "Mitr", sans-serif;
        color: white;
        margin: 2svh auto;
        padding: 0.4svh 5svh 0.5svh 5svh;
        background-color: transparent;
        transition: 0.5s;
    }
    input[type="submit"]:hover {
        color: rgb(255, 255, 255);
        background-color: #411edb;
    }
    .regis{
        text-decoration: none;
        font-size: 13px;
        border-collapse: collapse;
        border: transparent;
        border-radius: 15px;
        font-family: "Mitr", sans-serif;
        color: white;
        margin: 2svh auto;
        padding: 0.4svh 5svh 0.5svh 5svh;
        background-color: transparent;
        transition: 0.5s;
    }
    .regis:hover{
        text-decoration: none;
        color: white;
        background-color: #411edb;
    }
 
